.message-wrapper {
    display: flex;
    flex-direction: row;
    &__form {
        width: 50%;

        textarea {
            height: 200px;
        }
    }
    &__messages {
        width: 50%;
    }
}
